footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  gap: 2rem;
}
.footer-nav {
  display: flex;
}
.footer-nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}
.footer-nav a {
  text-decoration: none;
}
.footer-links {
  margin-top: 2rem;
}
footer ion-icon {
  margin-inline: 0.75rem;
  font-size: 1.5rem;
  cursor: pointer;
}
footer ion-icon:hover,
.footer-nav a:hover {
  color: white;
  transition-duration: 0.3s;
}
